[buildout]
extends =
    https://zopefoundation.github.io/Zope/releases/master/versions.cfg
develop = .
parts =
    test
    docs


[test]
recipe = zc.recipe.testrunner
eggs =
    Products.ZPsycopgDA

[docs]
recipe = zc.recipe.egg
eggs =
    Products.ZPsycopgDA[docs]
    Sphinx
scripts =
    sphinx-build
